section.LL-Specials {
  padding: 100px 12%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  flex-wrap: wrap;
}

.specials-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#LL-Section-SpecialItems {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2.25rem;
  flex-wrap: wrap;
}

.LL-CardHeader {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.food-desc {
  color: #fff;
}

.food-price {
  color: var(--color-secondary);
  font-weight: 800;
}

.LL-OrderButton {
  place-items: flex-end;
}

.btn.btn-order {
  width: 100px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.5rem;
}

.delivery-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.75rem;
  color: var(--color-secondary);
}

@media screen and (max-width: 1024px) {
  #LL-Section-SpecialItems {
    gap: 1.25rem;
  }
}
